/* styles.css */
.card {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.title-hover-effect {
  transition: transform 0.3s;
  display: inline-block;
  color: rgb(233, 221, 174);
}

.title-hover-effect:hover {
  transform: scale(1.05);
  cursor: pointer; /* Change the cursor to indicate that it's clickable */
}
